<a href="https://colab.research.google.com/github/merissaann/ict-assignments/blob/main/17assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a Python program to accept a string value from the user and display
#the count of each character in that string. Sample input: Enter a string
#value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [1]:
from collections import Counter
input_string = input("Enter a string value: ")
char_count = Counter(input_string)
output = ', '.join(f"{char}={count}" for char, count in char_count.items())
print(output)

Enter a string value: merissa
m=1, e=1, r=1, i=1, s=2, a=1

In [2]:
# Write a Python function to find the maximum of three numbers Sample input: 34,12,7 Sample output: 34

In [3]:
lists=[34,12,7]
max_val=0
for i in range( len(lists)):
  if max_val < lists[i]:
    max_val=lists[i]
print(max_val," is the largest")

34  is the largest

In [4]:
#Write a Python function called exponent(base,exp) that returns an
#integer value of base raises to the power of exp. Sample input: Enter the
#base: 2 Enter the exponent: 3 Sample output: 8

In [5]:
def exponent(base,exp):
  result=base**exp
  return result
base=int(input("enter the base : "))
exp=int(input("enter the exponent : "))
print("result =",exponent(base,exp))

enter the base : 2
enter the exponent : 3
result = 8

In [6]:
#Write a Python function that takes a positive integer and returns the sum
#of the cube of all the positive integers smaller than the specified number.
#Sample input: 4 Sample output: 36.

In [8]:
def cube_sum(n):
  sum=0
  for i in range(1,n):
    sum=sum+i**3
  return sum
n=int(input("enter the number "))
print("output =",cube_sum(n))

enter the number 4
output = 36

In [9]:
#Write a Python program which iterates from 1 to 10. For multiples of 2,
#print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
#For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
#Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
#Fizz 7 Fizz 9 FizzBuzz

In [14]:
for i in range(1,11):
  if  i%2==0 and i%5==0:
    print("FizzBuzz",end=" ")
  elif i%5==0:
    print("Buzz",end=" ")
  elif i%2==0:
    print("Fizz",end=" ")
  else:
    print(i,end=" ")

1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz

In [15]:
#Write a Python program to find the most frequent item in a list of numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [18]:
from collections import Counter
numbers = list(map(int, input("Enter numbers separated by commas: ").split(',')))
frequency = Counter(numbers)
max_frequency = max(frequency.values())
most_frequent_items = [num for num, freq in frequency.items() if freq == max_frequency]
print("The most frequent item(s):", ', '.join(map(str, most_frequent_items)))

Enter numbers separated by commas: 2,3,4,5,6,5,4,3
The most frequent item(s): 3, 4, 5

In [19]:
#Write a Python program to find the sum of squares of the numbers in a list. Sample input: 2,1,3,1 Sample output: 15

In [20]:
lists=[2,1,3,1]
sum=0
for i in range(len(lists)):
  sum=sum+(lists[i]**2)
print("sum =",sum)

sum = 15

In [21]:
# Write a Python program using for loop that will iterate from 1 to 15. For
#each iteration, check if the current number is odd or even, and display the
#message to the screen as odd or even. Sample input: 1….15 Sample
#output: 1-odd 2-even …. 15-odd

In [22]:
for i in range(1,16):
  if i%2==0:
    print(i,"-even",end=" ")
  else:
     print(i,"-odd",end=" ")

1 -odd 2 -even 3 -odd 4 -even 5 -odd 6 -even 7 -odd 8 -even 9 -odd 10 -even 11 -odd 12 -even 13 -odd 14 -even 15 -odd

In [23]:
#Write a Python program to convert temperatures to and from Celsius
#Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
#temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
#=41 Sample output: Temperature in Celsius =5

In [27]:
temp=int(input("enter the temp in faahrenheit :"))
c=(temp-32)*(5/9)
print("temperature in celsius :",c)

enter the temp in faahrenheit :41
temperature in celsius : 5.0

In [28]:
# Write a Python function to calculate the factorial of a number (a
#nonnegative integer). The function accepts the number as an argument.
#Sample input: 3 Sample output: 6

In [39]:
def factorial(a):
  fact=1
  for i in range(1,a+1):
    fact=fact*i
  return fact
a=int(input("enter a number "))
print("factorial ",factorial(a))

enter a number 3
factorial  6