<a href="https://colab.research.google.com/github/merissaann/ict-assignments/blob/main/17python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Write a Python program which accepts the radius of a circle from the user and compute the area.
#Sample input: Enter the radius: 3
#Sample output: Area of Circle is 28.59999999999

In [3]:
import math
r= float(input("print the area of the circle : "))
area = (r*r)*math.pi
print("area of the circle is : ",area)

print the area of the circle : 3
area of the circle is :  28.274333882308138

In [8]:

#Write a Python Program to accept the details of a student like name, roll
#number and mark and display it.
#Sample input:
#Enter the name: Anisha
#Enter the roll number: 21
#Enter the mark: 78
#Sample output:  Name: Anisha
#Roll No: 21
#Mark: 78

In [7]:
name =input("enter the name :")
roll= int(input("enter the roll number :"))
marks= int(input("enter the marks: "))
print("\n name :",name,"\n Roll number :",roll,"\n mark :",marks)

enter the name :meru
enter the roll number :42
enter the marks: 50

 name : meru
 Roll number : 42
 mark : 50

In [9]:
# Write a Python program to get the largest number from a list.
#Sample input: 12, 3, 47, 10
#Sample output: 47 is the largest number.

In [19]:
lists=[12,3,47,10]
max_val=0
for i in range( len(lists)):
  if max_val < lists[i]:
    max_val=lists[i]
print(max_val," is the largest")

47  is the largest

In [20]:

 #Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number.
#Sample input: 1….10
#Sample output: Current Number 1 Previous Number 0 Sum: 1
#Current Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
#Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [22]:
sum =0
for i in range(1,11):
  sum = (i-1) + i
  print("current number ",i,"previous number ",i-1,"sum : ",sum,"\n")

current number  1 previous number  0 sum :  1

current number  2 previous number  1 sum :  3

current number  3 previous number  2 sum :  5

current number  4 previous number  3 sum :  7

current number  5 previous number  4 sum :  9

current number  6 previous number  5 sum :  11

current number  7 previous number  6 sum :  13

current number  8 previous number  7 sum :  15

current number  9 previous number  8 sum :  17

current number  10 previous number  9 sum :  19

In [23]:
#Write a Python program to print only those numbers which are divisible of 5.
#Sample input: 10, 20,33,46,55    Sample output: 10, 20, 55

In [26]:
a=[10,20,33,46,55]
b=[]
for i in range(len(a)):
  if a[i]%5==0:
    b.append(a[i])
print(b)

[10, 20, 55]

In [33]:
numbers_str = input("Enter numbers separated by commas: ")
numbers = [int(num) for num in numbers_str.split(',')]
divisible_by_5 = []
for num in numbers:
    if num % 5 == 0:
        divisible_by_5.append(num)
print("Numbers divisible by 5 are:", ', '.join(map(str, divisible_by_5)))

Enter numbers separated by commas: 23,34,55,66,80,90
Numbers divisible by 5 are: 55, 80, 90

In [34]:
#Write a Python program to check whether a number is prime or not.
#Sample input: Enter the number: 3
#Sample output: 3 is a prime number.

In [80]:
n = int(input("enter a number :"))
if n<=1:
  print("not a prime number")
elif n==2:
    print("prime number")
else:
    prime = True
    for i in range(2,int(n**0.5)+1):
         if n%i==0:
            prime=False
            break

    if prime:
        print("is prime")
    else:
        print("not prime")

enter a number :7
is prime

In [81]:
#Write a Python program to reverse a list using for loop.
#Sample input: 10,40,30,70
#Sample output: 70,30,40,10

In [84]:
lists=[10,20,30,40]
b=lists[-1::-1]
print(b)

[40, 30, 20, 10]

In [85]:
#Write a Python program to print the following pattern.
#*
#**
#***
#****

In [86]:
for i in range(1,5):
  print(i*'*')

*
**
***
****

In [87]:
#Write a Python program to find the maximum of three numbers
#Sample input: 34,12,7
#Sample output: 34

In [2]:
numbers = input("Enter three numbers separated by spaces: ").split()
num1, num2, num3 = map(int, numbers)
max_num = max(num1, num2, num3)
print("The maximum number is:", max_num)

Enter three numbers separated by spaces: 34 54 33
The maximum number is: 54

In [ ]:
Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [3]:
n = 5
for i in range(1, n + 1):
    print('*' * i)
for i in range(n - 1, 0, -1):
    print('*' * i)

*
**
***
****
*****
****
***
**
*