<a href="https://colab.research.google.com/github/merissaann/ict-assignments/blob/main/18assign2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Given the string "Hello, World!", extract and print the substring "Hello"

In [2]:
text = "Hello, World!"
substring = text[0:5]
print(substring)

Hello

In [3]:
#. Given the string "Python is fun", extract and print the substring "is".

In [4]:
text="python is fun"
sub=text[7:9]
print(sub)

is

In [5]:
#  Given the string "Programming", extract and print the substring "gram" using slicing indices.

In [6]:
text = "Programming"
substring = text[3:7]
print(substring)

gram

In [7]:
#Given the string "abcdefgh", use slicing to print only the characters at even indices.

In [8]:
text = "abcdefgh"
even_index_chars = text[::2]
print(even_index_chars)

aceg

In [9]:
 #Given the string "abcdefg", use negative indices to extract and print the substring "efg".

In [15]:
text = "abcdefg"
substring = text[-3:]
print(substring)

efg

In [16]:
# Given the string "Data Science", use negative indices to extract and print the last three characters.

In [17]:
text = "Data Science"
substring = text[-3:]
print(substring)

nce

In [18]:
#Given the string "abcdefghij", use slicing with a step to print every second character.

In [19]:
text = "abcdefghi"
substring = text[::2]
print(substring)

acegi

In [20]:
#  Given the string "1234567890", use slicing with a step to print the odd digits.

In [21]:
text = "1234567890"
substring = text[::2]
print(substring)

13579

In [22]:
# Given the string "Hello", use slicing to print the string in reverse order.

In [23]:
text = "Hello"
substring = text[::-1]
print(substring)

olleH

In [24]:
#Given the string "abcdefghijk", extract and print the substring "acegik" using slicing.

In [25]:
text = "abcdefghijk"
substring = text[::2]
print(substring)

acegik

In [26]:
#Write a program to find sum of all elements in a list of integers

In [28]:
def sum_of_list(elements):
    total = 0
    for number in elements:
        total += number
    return total
user_input = input("Enter a list of integers separated by spaces or commas: ").replace(',', ' ')
numbers = [int(x) for x in user_input.split()]
total_sum = sum_of_list(numbers)
print(f"The sum of all elements in the list is: {total_sum}")

Enter a list of integers separated by spaces or commas: 3,5,6,7,8
The sum of all elements in the list is: 29

In [29]:
#Input a sentence as a string.
#a) Print its length
#b) Print the first half of string

In [30]:
sentence = input("Enter a sentence: ")
length_of_sentence = len(sentence)
print(f"The length of the sentence is: {length_of_sentence}")
half_length = length_of_sentence // 2
first_half = sentence[:half_length]
print(f"The first half of the sentence is: '{first_half}'")

Enter a sentence: merissa
The length of the sentence is: 7
The first half of the sentence is: 'mer'

In [31]:
#Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39). Change the third value in the tuple to 100

In [32]:
numbers = (78, 45, 32, 19, 82, 77, 40, 39)
numbers_list = list(numbers)
numbers_list[2] = 100
modified_numbers = tuple(numbers_list)
print(f"The modified tuple is: {modified_numbers}")

The modified tuple is: (78, 45, 100, 19, 82, 77, 40, 39)

In [33]:
#Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40] (a)
#Delete the first occurrence of 32
#(b) Delete all occurrences of 40
#(c) Delete the value at index=5
#(d) Modify the value at index=9 as 300
#(e) Add 200 at index=2
#(f) 15.
#Print the final list with its length, maximum value and sum of all elements

In [35]:
listA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
listA.remove(32)
listA = [x for x in listA if x != 40]
if len(listA) > 5:
    del listA[5]
if len(listA) > 9:
    listA[9] = 300
else:
    print("Index 9 does not exist in the current list.")
listA.insert(2, 200)
print("Final list:", listA)
print("Length of the list:", len(listA))
print("Maximum value in the list:", max(listA))
print("Sum of all elements in the list:", sum(listA))

Index 9 does not exist in the current list.
Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77]
Length of the list: 10
Maximum value in the list: 200
Sum of all elements in the list: 528

In [36]:
#Consider a string ”The day has been long”.
#(a) Delete the value at index =4
#(b) Print the string 4 times in a single line with space between each repetition
#(c) (f) Print the string 3 times in a new line each time
#(d) Modify the string at index 7 as ’A’
#(e) Print the string from index 4 to 15
#Print the final string with its length

In [37]:
string = "The day has been long"
string = string[:4] + string[5:]
print((string + " ") * 4)
print((string + "\n") * 3)
string = string[:7] + 'A' + string[8:]
print(string[4:16])
print("Final string:", string)
print("Length of the final string:", len(string))

The ay has been long The ay has been long The ay has been long The ay has been long
The ay has been long
The ay has been long
The ay has been long

ay Aas been
Final string: The ay Aas been long
Length of the final string: 20