<a href="https://colab.research.google.com/github/merissaann/ict-assignments/blob/main/assignment22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

df=pd.read_csv("/content/summer_movies.csv")

In [ ]:
 #3. Perform Initial Exploration:
 #○ Loadthe dataset into a pandas DataFrame.
 #○ Display the first few rows of the DataFrame to understand its structure.
 #○ Print the summary statistics of the dataset

In [6]:
df.head()

,tconst,title_type,primary_title,original_title,year,runtime_minutes,genres,simple_title,average_rating,num_votes
0,tt0011462,movie,Midsummer Madness,Midsummer Madness,1920.0,60.0,Drama,midsummer madness,7.4,19
1,tt0026714,movie,A Midsummer Night's Dream,A Midsummer Night's Dream,1935.0,133.0,"Comedy,Fantasy,Romance",a midsummer nights dream,6.8,3931
2,tt0033864,movie,The Teachers on Summer Vacation,Magistrarna på sommarlov,1941.0,86.0,Comedy,the teachers on summer vacation,5.5,78
3,tt0037325,movie,Summer Storm,Summer Storm,1944.0,106.0,"Crime,Drama,Film-Noir",summer storm,6.6,688
4,tt0038406,movie,Centennial Summer,Centennial Summer,1946.0,102.0,"History,Music,Romance",centennial summer,6.1,431

In [7]:
summary_statistics = df.describe()

print(summary_statistics)

              year  runtime_minutes  average_rating      num_votes
count   904.000000       849.000000      905.000000     905.000000
mean   2001.353982        91.043581        6.273702    2296.285083
std      19.448166        23.854447        1.245414   20630.393488
min    1920.000000         5.000000        2.300000      10.000000
25%    1990.000000        82.000000        5.600000      34.000000
50%    2008.000000        91.000000        6.400000     119.000000
75%    2016.000000       101.000000        7.100000     517.000000
max    2024.000000       237.000000        9.800000  564894.000000

In [8]:
#What is the size of the dataset? (Number of rows and columns)

In [9]:
rows, columns = df.shape
print(f"The dataset has {rows} rows and {columns} columns.")

The dataset has 905 rows and 10 columns.

In [10]:
df.shape

(905, 10)

In [11]:
#What are the data types of each column?

In [12]:
column_data_types = df.dtypes
print(column_data_types)

tconst              object
title_type          object
primary_title       object
original_title      object
year               float64
runtime_minutes    float64
genres              object
simple_title        object
average_rating     float64
num_votes            int64
dtype: object

In [13]:
#:Arethere any missing values in the dataset? If so, which columns have missing values and how many?

In [14]:
missing_values = df.isnull().sum()
print("Columns with missing values:")
print(missing_values[missing_values > 0])

Columns with missing values:
year                1
runtime_minutes    56
genres             18
dtype: int64

In [17]:
#What are the unique values in a categorical column of your choice? How many unique values are there?

In [20]:
unique_values = df['genres'].unique()
num_unique_values = df['genres'].nunique()

print(f"Unique values in the 'genre' column: {unique_values}")
print(f"Number of unique values in the 'genre' column: {num_unique_values}")

Unique values in the 'genre' column: ['Drama' 'Comedy,Fantasy,Romance' 'Comedy' 'Crime,Drama,Film-Noir'
 'History,Music,Romance' 'Drama,Fantasy' 'Musical'
 'Comedy,Musical,Romance' 'Comedy,Drama,Musical' 'Musical,Romance'
 'Comedy,Drama,Romance' 'Drama,Romance' 'Action,Drama,Romance'
 'Comedy,Drama' 'Comedy,Romance' 'Comedy,Music' 'Drama,Romance,War'
 'Documentary,Music' 'Animation,Comedy,Fantasy' 'Drama,Mystery,Thriller'
 'Documentary,History' 'Comedy,Family,Musical' 'Comedy,Musical'
 'Crime,Drama' 'Crime,Drama,Romance' 'Documentary,Sport' 'Music'
 'Adventure,Drama,Mystery' 'Action,Crime,Drama' 'Documentary'
 'Adventure,Drama' 'Drama,War' 'Drama,History' 'Action,Comedy'
 'Romance,Thriller' 'Comedy,Mystery,Sci-Fi' 'Drama,Thriller'
 'Adventure,Comedy' 'Horror,Thriller' 'Romance' 'Comedy,Fantasy'
 'Horror,Mystery,Thriller' 'Biography,Drama' 'Drama,Mystery'
 'Comedy,Drama,Fantasy' 'Drama,Music,Romance' 'Drama,Horror,Thriller'
 'Drama,Fantasy,Mystery' 'Action' 'Biography,Drama,Romance' 'Mystery'
 'Drama,Family' 'Biography,Drama,Music' nan 'Comedy,Sport'
 'Drama,History,Sport' 'Comedy,Family' 'Adventure,Documentary,Sport'
 'Action,Adventure' 'Biography,Documentary' 'Drama,Horror,Mystery'
 'Horror,Mystery' 'Comedy,Romance,Sport' 'Adventure,Animation,Comedy'
 'Adventure' 'Biography' 'Fantasy' 'Drama,Family,Sci-Fi'
 'Comedy,Drama,Family' 'Animation,Family' 'Biography,Drama,History'
 'Comedy,Drama,Music' 'Crime,Drama,Horror' 'Comedy,Fantasy,Music'
 'Drama,Western' 'Comedy,Documentary' 'Documentary,History,Sport' 'Family'
 'Comedy,Sci-Fi' 'Action,War' 'Adventure,Comedy,Family'
 'Adventure,Drama,Family' 'Documentary,Short' 'Drama,Fantasy,Sci-Fi'
 'Action,Comedy,Family' 'Action,Animation,Sport' 'Comedy,Family,Music'
 'Horror' 'Adventure,Animation,Drama' 'Animation,Short'
 'Animation,Comedy,Drama' 'Adventure,Drama,Horror' 'Western'
 'Drama,Mystery,Romance' 'Adventure,Family' 'Animation'
 'Comedy,Family,Fantasy' 'Comedy,Crime,Horror' 'Drama,Romance,Thriller'
 'Crime,Drama,Mystery' 'Documentary,History,Music'
 'Action,Animation,Comedy' 'Comedy,Horror' 'Documentary,War'
 'Animation,Comedy,Short' 'Animation,Family,Fantasy' 'Drama,Sport'
 'Crime,Drama,Thriller' 'Sport' 'Short' 'Drama,Mystery,Sci-Fi' 'Crime'
 'Horror,Musical' 'Drama,Music' 'Action,Adventure,Animation'
 'Biography,Documentary,Drama' 'Animation,Drama,Romance'
 'Action,Crime,Mystery' 'Drama,History,Western' 'Documentary,Drama'
 'Animation,Drama,Fantasy' 'Drama,Musical' 'Drama,Family,Music'
 'Horror,Mystery,Romance' 'Drama,Short' 'Drama,Family,Romance'
 'Comedy,Drama,Mystery' 'Animation,Drama' 'Drama,Sci-Fi,Thriller'
 'Horror,Short' 'Comedy,Short' 'Adventure,Comedy,Drama' 'Music,Short'
 'Drama,Musical,Romance' 'Documentary,Family' 'Comedy,Horror,Musical'
 'Family,Fantasy' 'Animation,Horror,Sci-Fi' 'Biography,Comedy,Drama'
 'Comedy,Drama,Sport' 'Animation,Comedy,Crime' 'Comedy,Drama,Thriller'
 'Biography,Drama,Family' 'Biography,Documentary,Music' 'Action,Short'
 'Thriller' 'Animation,Comedy,Music' 'Comedy,Crime,Drama'
 'Animation,Comedy,Romance' 'Biography,Documentary,Sport'
 'Biography,Crime,Documentary' 'Crime,Documentary,History'
 'Animation,Comedy' 'Animation,Drama,Sport' 'Reality-TV' 'Action,Thriller'
 'Comedy,Family,Romance' 'Drama,History,Romance' 'Action,Animation,Sci-Fi'
 'Talk-Show' 'Comedy,Drama,History']
Number of unique values in the 'genre' column: 160

In [21]:
#:Foranumerical column of your choice, calculate the mean, median, andstandard deviation.

In [23]:
# Replace 'average_rating' with the correct numerical column name
mean_value = df['average_rating'].mean()
median_value = df['average_rating'].median()
std_deviation = df['average_rating'].std()

print(f"Mean of 'average_rating': {mean_value}")
print(f"Median of 'average_rating': {median_value}")
print(f"Standard Deviation of 'average_rating': {std_deviation}")

Mean of 'average_rating': 6.273701657458563
Median of 'average_rating': 6.4
Standard Deviation of 'average_rating': 1.2454137544377872

In [24]:
#: Identify any potential outliers in a numerical column of your choice. Explainyour approach.

In [25]:
Q1 = df['average_rating'].quantile(0.25)
Q3 = df['average_rating'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(f"Q1 (25th percentile): {Q1}")
print(f"Q3 (75th percentile): {Q3}")
print(f"IQR: {IQR}")
print(f"Lower bound for outliers: {lower_bound}")
print(f"Upper bound for outliers: {upper_bound}")

Q1 (25th percentile): 5.6
Q3 (75th percentile): 7.1
IQR: 1.5
Lower bound for outliers: 3.3499999999999996
Upper bound for outliers: 9.35

In [27]:
outliers = df[(df['average_rating'] < lower_bound) | (df['average_rating'] > upper_bound)]
print("Outliers in the 'average_rating' column:")
print(outliers)

Outliers in the 'average_rating' column:
         tconst title_type                        primary_title  \
83    tt0072173      movie                    Malibu Hot Summer
169   tt0103813      movie                     Bikini Summer II
196   tt0118720      movie  Bikini Summer III: South Beach Heat
298   tt0326639      movie                        Summer of Fun
329   tt0399811      movie                          Summer Show
333   tt0409878      video                         Demon Summer
399   tt0937428      video           The Summer of the Massacre
424  tt10593750      movie        The Chaos Class: Summer Games
506   tt1364480      video                          Dead Summer
508   tt1370426      movie                   Costa Rican Summer
521  tt14442616      movie                         Cruel Summer
554  tt16027742      video        Summer Nude '13: Making Movie
557   tt1626240      movie                 Summertime Christmas
586   tt1795595      movie                   Exit 91 Summerland
596   tt1874779      movie               The Summer of Massacre
601  tt19715962      movie              Darker Shades of Summer
631   tt2149137      movie          Snow White: A Deadly Summer
651   tt2310958      movie                           Summertime
653   tt2326400    tvMovie                     Summer Intensive
658   tt2350954      movie                 Santa's Summer House
747   tt3838694      video             Kasabian Summer Solstice
764   tt4354146      movie                Summerhouse Slaughter
853   tt7123254      movie                        Summer Palace

                          original_title    year  runtime_minutes  \
83                     Malibu Hot Summer  1981.0             90.0
169                     Bikini Summer II  1992.0             85.0
196  Bikini Summer III: South Beach Heat  1997.0             87.0
298                        Summer of Fun  1997.0             62.0
329                     Um Show de Verão  2004.0             97.0
333                         Demon Summer  2003.0             80.0
399           The Summer of the Massacre  2006.0             72.0
424          Hababam Sinifi Yaz Oyunlari  2021.0            108.0
506                          Dead Summer  2005.0             71.0
508                   Costa Rican Summer  2010.0             89.0
521                         Cruel Summer  2021.0             80.0
554        Summer Nude '13: Making Movie  2013.0              NaN
557                 Summertime Christmas  2010.0            110.0
586                   Exit 91 Summerland  2011.0             80.0
596               The Summer of Massacre  2012.0             98.0
601              Darker Shades of Summer  2023.0             80.0
631          Snow White: A Deadly Summer  2012.0             83.0
651                           Summertime  2012.0             93.0
653                     Summer Intensive  2012.0              NaN
658                 Santa's Summer House  2013.0             90.0
747             Kasabian Summer Solstice  2014.0              NaN
764                Summerhouse Slaughter  2023.0             70.0
853                        Summer Palace  2000.0            114.0

                     genres                        simple_title  \
83           Comedy,Romance                   malibu hot summer
169                  Comedy                    bikini summer ii
196                  Comedy  bikini summer iii south beach heat
298                     NaN                       summer of fun
329     Comedy,Family,Music                         summer show
333                  Horror                        demon summer
399                  Horror          the summer of the massacre
424                  Comedy        the chaos class summer games
506                  Horror                         dead summer
508                  Comedy                  costa rican summer
521                  Horror                        cruel summer
554       Documentary,Short         summer nude 13 making movie
557           Comedy,Family                summertime christmas
586  Horror,Mystery,Romance                  exit 91 summerland
596         Horror,Thriller              the summer of massacre
601        Romance,Thriller             darker shades of summer
631                  Horror          snow white a deadly summer
651   Comedy,Horror,Musical                          summertime
653               Biography                    summer intensive
658          Family,Fantasy                 santas summer house
747                   Music            kasabian summer solstice
764                  Horror               summerhouse slaughter
853                  Horror                       summer palace

     average_rating  num_votes
83              2.7        871
169             3.3        513
196             2.9        297
298             3.3         55
329             2.4        196
333             3.1        178
399             3.1        115
424             3.2        734
506             2.3         20
508             2.7        806
521             3.3        121
554             9.8         61
557             3.0        121
586             2.7         14
596             2.7        337
601             2.5        479
631             2.3        797
651             3.2        231
653             9.4         52
658             2.4        556
747             9.4         14
764             2.9        132
853             3.3         24

In [28]:
#here for finfing outliers i am using the IQR methond(Inter Quartile Range)
#Calculate Quartiles: Q1 (25th percentile) and Q3 (75th percentile) divide the data into four equal parts.
#Calculate IQR: The difference between Q3 and Q1.( Q3-Q1)
#Define Bounds: Outliers are typically defined as values that fall below Q1 - 1.5 * IQR(lower bound) or above Q3 + 1.5 * IQR(upper bound).
#Identify Outliers: Use these bounds to filter out the outliers.outliers falls outside the lower bound and upper bound

In [29]:
#:Find the correlation between numerical columns and discuss any interestingrelationships.

In [31]:
numeric_df = df.select_dtypes(include=['number'])
correlation_matrix = numeric_df.corr()
print("Correlation matrix:")
print(correlation_matrix)

Correlation matrix:
                     year  runtime_minutes  average_rating  num_votes
year             1.000000        -0.030933       -0.036706   0.004397
runtime_minutes -0.030933         1.000000       -0.005684   0.044559
average_rating  -0.036706        -0.005684        1.000000   0.048476
num_votes        0.004397         0.044559        0.048476   1.000000

In [32]:
#The correlation matrix shows the pairwise correlation coefficients between numerical columns.
#Correlation coefficients range from -1 to 1:

#1: Perfect positive correlation (as one variable increases, the other increases proportionally).
#-1: Perfect negative correlation (as one variable increases, the other decreases proportionally).
#0: No correlation (no predictable relationship).

In [33]:
#Groupthe data by a categorical column and compute the aggregate statistics(e.g., mean, sum) for a numerical column.

In [43]:
mean_stats = df.groupby('genres')['average_rating'].mean()
sum_stats = df.groupby('genres')['average_rating'].sum()
min_stats = df.groupby('genres')['average_rating'].min()
max_stats = df.groupby('genres')['average_rating'].max()
count_stats = df.groupby('genres')['average_rating'].count()
print("Mean average_rating   by genres:")
print(mean_stats)

print("\nSum of average_rating   by genres:")
print(sum_stats)
print("min average_rating   by genres:")
print(min_stats)

print("\nmax of average_rating   by genres:")
print(max_stats)

print("\ncount of average_rating   by genres:")
print(count_stats)

Mean average_rating   by genres:
genres
Action                        6.216667
Action,Adventure              5.600000
Action,Adventure,Animation    5.975000
Action,Animation,Comedy       6.500000
Action,Animation,Sci-Fi       7.000000
                                ...
Short                         6.840000
Sport                         5.266667
Talk-Show                     7.800000
Thriller                      6.800000
Western                       3.500000
Name: average_rating, Length: 160, dtype: float64

Sum of average_rating   by genres:
genres
Action                        37.3
Action,Adventure               5.6
Action,Adventure,Animation    23.9
Action,Animation,Comedy       13.0
Action,Animation,Sci-Fi        7.0
                              ...
Short                         34.2
Sport                         15.8
Talk-Show                      7.8
Thriller                       6.8
Western                        3.5
Name: average_rating, Length: 160, dtype: float64
min average_rating   by genres:
genres
Action                        3.9
Action,Adventure              5.6
Action,Adventure,Animation    4.2
Action,Animation,Comedy       5.9
Action,Animation,Sci-Fi       7.0
                             ...
Short                         6.1
Sport                         4.3
Talk-Show                     7.8
Thriller                      6.8
Western                       3.5
Name: average_rating, Length: 160, dtype: float64

max of average_rating   by genres:
genres
Action                        7.4
Action,Adventure              5.6
Action,Adventure,Animation    7.4
Action,Animation,Comedy       7.1
Action,Animation,Sci-Fi       7.0
                             ...
Short                         7.6
Sport                         6.0
Talk-Show                     7.8
Thriller                      6.8
Western                       3.5
Name: average_rating, Length: 160, dtype: float64

count of average_rating   by genres:
genres
Action                        6
Action,Adventure              1
Action,Adventure,Animation    4
Action,Animation,Comedy       2
Action,Animation,Sci-Fi       1
                             ..
Short                         5
Sport                         3
Talk-Show                     1
Thriller                      1
Western                       1
Name: average_rating, Length: 160, dtype: int64

In [44]:
#Based on your analysis, provide a brief summary of any insights or patterns you discovered in the dataset

the dataset used here is summer_movie_genres which is a csv file. it tells about the movie, the genre the duration of the movie ,the rating and the people who have rated. it had missing values and outlires ,it has  both categorical and neumeric values.